{{#paper-item class='md-3-line goal'}}
  <div class='md-list-item-text'>
    <p>{{goal.description}}</p>
  </div>
  <div class='add-task' {{action this.attrs.openDialog goal}}>
    {{paper-icon "add" size=18}}
  </div>
  <div class='delete' {{action this.attrs.delete goal}}>
    {{paper-icon "delete" size=18}}
  </div>
{{/paper-item}}
