{{dialog-form
  label='Task'
  inputId='task'
  showDialog=showTaskDialog
  closeDialog=(route-action 'closeTaskDialog')
  onSubmit=(route-action 'createTask')
}}
{{#if model}}
    {{#paper-content class="md-whiteframe-z1"}}
      {{#paper-list}}
        {{#each model as |task|}}
          {{#paper-item class='md-3-line'}}
            <div class="md-list-item-text task">
              <p>{{task.description}}</p>
            </div>
          {{/paper-item}}
          {{paper-divider}}
        {{/each}}
      {{/paper-list}}
    {{/paper-content}}
{{else}}

{{/if}}
<div class='layout-row layout-align-center-center'>
  {{#paper-button id='add-task' fab=true raised=true onClick="openTaskDialog"}}{{paper-icon "add" size=24}}{{/paper-button}}
</div>
