{{#if showTaskDialog}}
  {{#paper-dialog class='flex-30' fullscreen=true clickOutsideToClose=true onClose="closeTaskDialog"}}
    {{#paper-form as |form|}}
      {{#paper-dialog-content}}
        {{form.input id='task' required=true label='Task' maxlength=60 block=true value=task onChange=(action (mut task))}}
      {{/paper-dialog-content}}
      {{#paper-dialog-actions}}
        {{#paper-button primary=true onClick="closeTaskDialog"}}cancel{{/paper-button}}
          {{#paper-button primary=true id='create' disabled=form.isInvalid onClick="createTask"}}
            Add
          {{/paper-button}}
        {{/paper-dialog-actions}}
      {{/paper-form}}
  {{/paper-dialog}}
{{/if}}
{{#if model}}
    {{#paper-content class="md-whiteframe-z1"}}
      {{#paper-list}}
        {{#each model as |task|}}
          {{#paper-item class='md-3-line'}}
            <div class="md-list-item-text task">
              <p>{{task.description}}</p>
            </div>
          {{/paper-item}}
          {{paper-divider}}
        {{/each}}
      {{/paper-list}}
    {{/paper-content}}
{{else}}

{{/if}}
<div class='layout-row layout-align-center-center'>
  {{#paper-button id='add-task' fab=true raised=true onClick="openTaskDialog"}}{{paper-icon "add" size=24}}{{/paper-button}}
</div>
