{{dialog-form
  label='Task'
  inputId='task'
  showDialog=showTaskDialog
  closeDialog=(route-action 'closeTaskDialog')
  onSubmit=(route-action 'createTask')
}}
{{#if model}}
    {{#paper-list}}
      {{#paper-content class="md-whiteframe-z1"}}
        {{#each model as |task|}}
          {{#paper-item class='md-3-line task'}}
            <div class='md-avatar total-pomodoros' style='margin-top:34px;'>
              {{task.pomodoros}}
            </div>
            <div class='md-list-item-text'>
              <p>{{task.description}}</p>
            </div>
            {{#paper-button raised=true fab=true mini=true class='add-pomodoro-unit' onClick=(route-action 'addPomodoro' task)}}
              {{paper-icon 'plus-one'}}
            {{/paper-button}}
          {{/paper-item}}
          {{paper-divider}}
        {{/each}}
      {{/paper-content}}
    {{/paper-list}}
{{else}}

{{/if}}
<div class='layout-row layout-align-center-center'>
  {{#paper-button id='add-task' fab=true raised=true onClick="openTaskDialog"}}{{paper-icon "add" size=24}}{{/paper-button}}
</div>
